In [1]:
#!/usr/bin/env python

### PRIMARY TOOLKITS ###
import numpy as np # Numpy Numerical Toolkit
import pandas as pd # Pandas Dataframes
import scipy as sp  # Scipy Scientific Toolkit

### PANDAS TOOLKITS ###
import patsy # Regression Formatting
import statsmodels.api as sm # StatsModels Statsistics Toolkit
from statsmodels.sandbox.stats.multicomp import multipletests # Statsmodels p correction

### PLOTTING ###
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

### FUNCTIONALITY ###
import os # Tool for terminal and operating system type calls
import glob # Tool to Regex Search for Files
import itertools # Iterate through data
import time # Time and Date Tools
import random # Generate Random Values
import copy # Generate copy and deepcopy of objects
random.seed(54321)  # Set Random Seed for Reproducibility

### NOTEBOOK ###
from IPython.display import display
from IPython.core.interactiveshell import InteractiveShell # Set Notebook to Evaulate Variables on All Lines (not just last line)
InteractiveShell.ast_node_interactivity = "all"
from IPython.utils import io # Used to capture the output of cells and write to file

### BROOKS TOOLS ###
from brooks import *

### PRINT DATE AND TIME ###
print (' - Date: '+time.strftime("%d/%m/%Y")+' '+time.strftime("%H:%M:%S")+' - ')

/Users/brooks/miniconda2/envs/qiime2/lib/python3.5/site-packages/statsmodels/compat/pandas.py:56: FutureWarning: The pandas.core.datetools module is deprecated and will be removed in a future version. Please use the pandas.tseries module instead.
  from pandas.core import datetools

 - Date: 03/01/2018 16:31:47 -

<h1 style="text-align:Center; color:orange;">- Brooks Notebook -</h1>
<h1 style="text-align:center; color:black;">------------------------------------------------------------------------------</h1>
<h4 style="text-align:center; color:blue;">Andrew W. Brooks</h4>
<h4 style="text-align:center; color:blue;">Vanderbilt Genetics Institute</h4>
<h4 style="text-align:center; color:blue;">andrew.w.brooks(at)vanderbilt.edu</h4>
<h1 style="text-align:center; color:black;">------------------------------------------------------------------------------</h1>
<h4 style="text-align:center; color:black;">Released under MIT License</h4>
<h4 style="text-align:center; color:black;">Copyright (c) 2017 Andrew W. Brooks</h4>
<h4 style="text-align:center; color:black;">Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions: The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software. The software is provided "as is", without warranty of any kind, express or implied, including but not limited to the warranties of merchantability, fitness for a particular purpose and noninfringement. In no event shall the authors or copyright holders be liable for any claim, damages or other liability, whether in an action of contract, tort or otherwise, arising from, out of or in connection with the software or the use or other dealings in the software.</h4>
<h4 style="text-align:center; color:red;"></h4>
<h1 style="text-align:center; color:black;">------------------------------------------------------------------------------</h1>

<h1 style="text-align:center; color:orange;"> - Playplace -</h1>
<h4 style="text-align:center; color:orange;"> Where all of your wildest dreams come true!</h4>

<h3 style="text-align:center; color:blue;"> - Fst Analysis - </h3>
<h4 style="text-align:center; color:black;"> Test if Fst for microbe associated SNPs is significantly higher than background. </h4>

<h4 style="text-align:center; color:blue;"> - Input Data and Organize Analysis - </h4>

In [2]:
### Number of Random SNPs to Subsample for Pvalue Calculation ###
nSubsample = 10000
### Number of Times to Subsample SNPs for Pvalue Calculation ###
repSubsample = 10

### If so, then read in the SNPs of Interest & Set Index to Position ###
snpsIn = pd.read_csv(('round_2_snps_vep.txt'), sep='\t',header=0)

In [3]:
### ADD POPULATIONS TO DATAFRAME ###
for pops in itertools.combinations(['AFR', 'AMR', 'EAS', 'EUR', 'SAS'], 2):
    kwargs = {pops[0]+'_'+pops[1]+'_fst':np.zeros(len(snpsIn))}
    snpsIn = snpsIn.assign(**kwargs)
    kwargs = {pops[0]+'_'+pops[1]+'_p':np.zeros(len(snpsIn))}
    snpsIn = snpsIn.assign(**kwargs)

In [4]:
snpsIn

,taxa,chr,pos,rs,v1,v2,info,AFR_AMR_fst,AFR_AMR_p,AFR_EAS_fst,...,AMR_EUR_fst,AMR_EUR_p,AMR_SAS_fst,AMR_SAS_p,EAS_EUR_fst,EAS_EUR_p,EAS_SAS_fst,EAS_SAS_p,EUR_SAS_fst,EUR_SAS_p
0,Clostridiaceae,1,66166499,rs7524581,T,C,CSQ=C|intergenic_variant|MODIFIER|||||||||||||...,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,Rikenellaceae,1,76787267,rs17098734,A,G,CSQ=G|intron_variant|MODIFIER|ST6GALNAC3|ENSG0...,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,Rikenellaceae,1,119944761,rs147600757,G,A,CSQ=A|intergenic_variant|MODIFIER|||||||||||||...,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,Clostridiaceae,1,165470814,rs185902,T,C,CSQ=C|non_coding_transcript_exon_variant|MODIF...,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,Clostridiaceae,1,175670134,rs7527642,C,A,CSQ=A|intron_variant|MODIFIER|TNR|ENSG00000116...,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,Peptococcaceae,1,246909388,rs143179968,C,T,CSQ=T|intron_variant|MODIFIER|SCCPDH|ENSG00000...,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,Clostridiaceae,10,32669237,rs2505338,T,C,CSQ=C|upstream_gene_variant|MODIFIER|EPC1|ENSG...,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,Clostridiaceae,11,79689054,rs641527,G,A,CSQ=A|intergenic_variant|MODIFIER|||||||||||||...,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,Clostridiaceae,11,93259965,rs2248020,A,C,CSQ=C|intron_variant|MODIFIER|SMCO4|ENSG000001...,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,Clostridiaceae,12,105761662,rs7302174,G,C,CSQ=C|intron_variant|MODIFIER|C12orf75|ENSG000...,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10,"RF39, Family: Unclassified",13,75058481,rs4883972,C,G,CSQ=G|intergenic_variant|MODIFIER|||||||||||||...,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
11,Clostridiaceae,13,108787335,rs7318523,T,C,CSQ=C|intergenic_variant|MODIFIER|||||||||||||...,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12,Clostridiaceae,14,20884300,rs1760889,G,T,CSQ=T|upstream_gene_variant|MODIFIER|TEP1|ENSG...,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
13,Clostridiaceae,14,22001947,rs2293702,C,T,CSQ=T|intron_variant|MODIFIER|SALL2|ENSG000001...,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
14,Clostridiaceae,14,23956172,rs10148020,C,G,CSQ=G|intron_variant|MODIFIER|NGDN|ENSG0000012...,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
15,Clostridiaceae,14,32404727,rs1278911,T,"A,G",CSQ=A|intergenic_variant|MODIFIER|||||||||||||...,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
16,Clostridiaceae,14,60765245,rs2273623,A,G,CSQ=G|3_prime_UTR_variant|MODIFIER|PPM1A|ENSG0...,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
17,Veillonella,15,33177426,rs347941,C,A,CSQ=A|intron_variant|MODIFIER|FMN1|ENSG0000024...,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
18,Clostridiaceae,15,90345335,rs2007084,G,A,CSQ=A|intron_variant|MODIFIER|ANPEP|ENSG000001...,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
19,Clostridiaceae,16,10460838,rs7499858,G,A,CSQ=A|intron_variant&non_coding_transcript_var...,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
20,Clostridiaceae,16,62460017,rs9938742,A,G,CSQ=G|intergenic_variant|MODIFIER|||||||||||||...,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
21,Clostridiaceae,17,3882309,rs17763551,G,"A,C",CSQ=A|intron_variant&non_coding_transcript_var...,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
22,Clostridiaceae,17,59570858,rs4968435,G,A,CSQ=A|intergenic_variant|MODIFIER|||||||||||||...,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
23,Clostridiaceae,18,47886970,rs7236263,T,C,CSQ=C|intergenic_variant|MODIFIER|||||||||||||...,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
24,Odoribacteraceae,19,28117024,rs115795847,C,"A,T",CSQ=A|intergenic_variant|MODIFIER|||||||||||||...,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
25,Clostridiaceae,2,35947802,rs10221827,C,G,CSQ=G|downstream_gene_variant|MODIFIER|MRPL50P...,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
26,Clostridiaceae,2,109742307,rs6542797,C,T,CSQ=T|upstream_gene_variant|MODIFIER|SH3RF3|EN...,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
27,Rikenellaceae,2,170657022,rs62171178,C,T,CSQ=T|intron_variant|MODIFIER|SSB|ENSG00000138...,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
28,Clostridiaceae,2,197259243,rs7587067,T,"A,C",CSQ=A|intron_variant|MODIFIER|HECW2|ENSG000001...,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
29,Clostridiaceae,21,27869600,rs2830259,T,C,CSQ=C|intron_variant|MODIFIER|CYYR1|ENSG000001...,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
30,Clostridiaceae,22,31256733,rs5997791,C,A,CSQ=A|intron_variant|MODIFIER|OSBP2|ENSG000001...,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
31,Clostridiaceae,22,34473652,rs5754822,A,C,CSQ=C|intron_variant&non_coding_transcript_var...,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
32,Clostridiaceae,3,102269072,rs16845116,C,"G,T",CSQ=G|intergenic_variant|MODIFIER|||||||||||||...,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
33,Clostridiaceae,4,31633529,rs11733214,C,T,CSQ=T|intergenic_variant|MODIFIER|||||||||||||...,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
34,Clostridiaceae,4,98967484,rs4699323,G,A,CSQ=A|intron_variant|MODIFIER|STPG2|ENSG000001...,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
35,Clostridiaceae,4,111036402,rs1125819,C,T,CSQ=T|intron_variant|MODIFIER|ELOVL6|ENSG00000...,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
36,Rikenellaceae,5,97251434,rs3909540,G,T,CSQ=T|intron_variant&non_coding_transcript_var...,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
37,"Coriobacteraceae, Genus: Unclassified",6,29984252,rs9357092,G,A,CSQ=A|intron_variant&non_coding_transcript_var...,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
38,Clostridiaceae,6,30652872,rs2269706,G,A,CSQ=A|downstream_gene_variant|MODIFIER|NRM|ENS...,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
39,Clostridiaceae,6,48674613,rs10484857,G,A,CSQ=A|intergenic_variant|MODIFIER|||||||||||||...,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
40,Clostridiaceae,6,63892824,rs9350764,G,T,CSQ=T|intergenic_variant|MODIFIER|||||||||||||...,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
41,Clostridiaceae,6,68609591,rs6933411,C,T,CSQ=T|intergenic_variant|MODIFIER|||||||||||||...,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
42,Clostridiaceae,6,132567078,rs9321334,A,G,CSQ=G|intergenic_variant|MODIFIER|||||||||||||...,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
43,Clostridiaceae,6,156670838,rs9397927,C,G,CSQ=G|intergenic_variant|MODIFIER|||||||||||||...,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
44,Clostridiaceae,7,36927501,rs17170765,A,G,CSQ=G|intron_variant|MODIFIER|ELMO1|ENSG000001...,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
45,Clostridiaceae,7,156011879,rs4717021,C,T,CSQ=T|intergenic_variant|MODIFIER|||||||||||||...,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
46,Clostridiaceae,8,30499522,rs6999713,T,C,CSQ=C|intron_variant|MODIFIER|GTF2E2|ENSG00000...,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
47,Clostridiaceae,9,29546701,rs586749,G,A,CSQ=A|intergenic_variant|MODIFIER|||||||||||||...,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
48,Clostridiaceae,9,116464160,rs2170226,C,T,CSQ=T|intergenic_variant|MODIFIER|||||||||||||...,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

<h4 style="text-align:center; color:blue;"> - Get SNP Fst's (and Get Unused PValue with Permutation Analysis) - </h4>

In [5]:
cur = 0
snpsOut = pd.DataFrame(columns=['snp', 'chr', 'pos', 'pop1', 'pop2', 'fst', 'pval', 'pstd'])

### LOOP THROUGH EACH SNP ###
for idx in snpsIn.index:
    
    ### PRINT SNP INFO ###
    print('SNP: ' + str(snpsIn.loc[idx,'rs']) + ' - ' + str(snpsIn.loc[idx,'chr']) + ':' + str(snpsIn.loc[idx,'pos']))
    
    ### FOR FST FILES AT CHROMOSOME ###
    for pops in itertools.combinations(['AFR', 'AMR', 'EAS', 'EUR', 'SAS'], 2):
        if (pops[0] == 'EAS') and (pops[1] == 'SAS'): continue
        
        
        curFile = '1_1_Fst_superpopulations/out_'+str(snpsIn.loc[idx,'chr'])+'_'+pops[0]+'_'+pops[1]+'.weir.fst'
        
        ### GET INFO ABOUT POPULATIONS ###
        pop1 = curFile.split('_')[5]
        pop2 = curFile.split('_')[6].split('.')[0]
        print(curFile+'_'+pop1+'_'+pop2)
        
        ### READ SNP FILE ###
        fstIn = pd.read_csv(curFile, sep='\t')
        
        ### GET FST ###
        curfst = fstIn[fstIn['POS'] == snpsIn.loc[idx,'pos']]['WEIR_AND_COCKERHAM_FST']
        print('   Fst: '+str(float(curfst)))
        
        ### CALCULATE P-VALUE ###
        pvals = []
        for x in np.arange(repSubsample): # FOR THE NUMBER OF TIMES TO SUBSAMPLE #
            ### SUBSAMPLE THE TABLE ###
            fstSubsample = fstIn.sample(n=nSubsample)
            ### STORE P ITERATION ###
            pvals.append( len(fstSubsample[fstSubsample['WEIR_AND_COCKERHAM_FST'] > float(curfst)])/nSubsample )
        
        ### PRINT & STORE RESULTS ###
        print('   P-mean: '+str(np.mean(pvals)))
        print('   P-std : '+str(np.std(pvals)))
        snpsIn.loc[idx, (pop1+'_'+pop2+'_p')] = np.mean(pvals)
        snpsIn.loc[idx, (pop1+'_'+pop2+'_fst')] = float(curfst)
        ### STORE RESULTS FOR BY SNP ANALYSIS ###
        snpsOut.loc[cur] = [str(snpsIn.loc[idx,'rs']), str(snpsIn.loc[idx,'chr']),str(snpsIn.loc[idx,'pos']),pop1,pop2,float(curfst),np.mean(pvals),np.std(pvals)]
        cur+=1
    print()

SNP: rs7524581 - 1:66166499
1_1_Fst_superpopulations/out_1_AFR_AMR.weir.fst_AFR_AMR
   Fst: 0.0334988
   P-mean: 0.5729
   P-std : 0.00547375556634
1_1_Fst_superpopulations/out_1_AFR_EAS.weir.fst_AFR_EAS
   Fst: 0.375077
   P-mean: 0.04221
   P-std : 0.00165858373319
1_1_Fst_superpopulations/out_1_AFR_EUR.weir.fst_AFR_EUR
   Fst: -0.000667398
   P-mean: 0.96642
   P-std : 0.00116516093309
1_1_Fst_superpopulations/out_1_AFR_SAS.weir.fst_AFR_SAS
   Fst: 0.0310765
   P-mean: 0.67639
   P-std : 0.00368658378448
1_1_Fst_superpopulations/out_1_AMR_EAS.weir.fst_AMR_EAS
   Fst: 0.24458200000000002
   P-mean: 0.02071
   P-std : 0.00129649527573
1_1_Fst_superpopulations/out_1_AMR_EUR.weir.fst_AMR_EUR
   Fst: 0.028480400000000003
   P-mean: 0.16962
   P-std : 0.00310348191553
1_1_Fst_superpopulations/out_1_AMR_SAS.weir.fst_AMR_SAS
   Fst: 0.126352
   P-mean: 0.0204
   P-std : 0.00122392810246
1_1_Fst_superpopulations/out_1_EAS_EUR.weir.fst_EAS_EUR
   Fst: 0.371016
   P-mean: 0.01507
   P-std : 0.0010964032105
1_1_Fst_superpopulations/out_1_EUR_SAS.weir.fst_EUR_SAS
   Fst: 0.03627469999999999
   P-mean: 0.1898
   P-std : 0.00472101683962

SNP: rs17098734 - 1:76787267
1_1_Fst_superpopulations/out_1_AFR_AMR.weir.fst_AFR_AMR
   Fst: 0.20973699999999998
   P-mean: 0.085
   P-std : 0.00272249885216
1_1_Fst_superpopulations/out_1_AFR_EAS.weir.fst_AFR_EAS
   Fst: 0.35795
   P-mean: 0.04935
   P-std : 0.00160390149323
1_1_Fst_superpopulations/out_1_AFR_EUR.weir.fst_AFR_EUR
   Fst: 0.143981
   P-mean: 0.18709
   P-std : 0.00288008680425
1_1_Fst_superpopulations/out_1_AFR_SAS.weir.fst_AFR_SAS
   Fst: 0.20817399999999997
   P-mean: 0.09914
   P-std : 0.00216896288581
1_1_Fst_superpopulations/out_1_AMR_EAS.weir.fst_AMR_EAS
   Fst: 0.0925763
   P-mean: 0.14212
   P-std : 0.0045117180763
1_1_Fst_superpopulations/out_1_AMR_EUR.weir.fst_AMR_EUR
   Fst: 0.0162124
   P-mean: 0.27533
   P-std : 0.00427973129998
1_1_Fst_superpopulations/out_1_AMR_SAS.weir.fst_AMR_SAS
   Fst: -0.000587526
   P-mean: 0.90243
   P-std : 0.00302755677073
1_1_Fst_superpopulations/out_1_EAS_EUR.weir.fst_EAS_EUR
   Fst: 0.136443
   P-mean: 0.13372
   P-std : 0.00455978069648
1_1_Fst_superpopulations/out_1_EUR_SAS.weir.fst_EUR_SAS
   Fst: 0.011046799999999999
   P-mean: 0.38005
   P-std : 0.00442566379202

SNP: rs147600757 - 1:119944761
1_1_Fst_superpopulations/out_1_AFR_AMR.weir.fst_AFR_AMR
   Fst: 0.0665032
   P-mean: 0.35018
   P-std : 0.00252895235226
1_1_Fst_superpopulations/out_1_AFR_EAS.weir.fst_AFR_EAS
   Fst: 0.00746958
   P-mean: 0.83876
   P-std : 0.0027350319925
1_1_Fst_superpopulations/out_1_AFR_EUR.weir.fst_AFR_EUR
   Fst: 0.00876207
   P-mean: 0.83061
   P-std : 0.00374631819257
1_1_Fst_superpopulations/out_1_AFR_SAS.weir.fst_AFR_SAS
   Fst: 0.0746357
   P-mean: 0.36364
   P-std : 0.00398
1_1_Fst_superpopulations/out_1_AMR_EAS.weir.fst_AMR_EAS
   Fst: 0.025657999999999997
   P-mean: 0.39623
   P-std : 0.00406941027669
1_1_Fst_superpopulations/out_1_AMR_EUR.weir.fst_AMR_EUR
   Fst: 0.0234102
   P-mean: 0.2026
   P-std : 0.00212649947096
1_1_Fst_superpopulations/out_1_AMR_SAS.weir.fst_AMR_SAS
   Fst: -0.000303168
   P-mean: 0.8847
   P-std : 0.00304827820253
1_1_Fst_superpopulations/out_1_EAS_EUR.weir.fst_EAS_EUR
   Fst: -0.000919887
   P-mean: 0.80619
   P-std : 0.00324297702736
1_1_Fst_superpopulations/out_1_EUR_SAS.weir.fst_EUR_SAS
   Fst: 0.0323238
   P-mean: 0.20909
   P-std : 0.0042010593902

SNP: rs185902 - 1:165470814
1_1_Fst_superpopulations/out_1_AFR_AMR.weir.fst_AFR_AMR
   Fst: 0.11598599999999999
   P-mean: 0.20542
   P-std : 0.00292807103739
1_1_Fst_superpopulations/out_1_AFR_EAS.weir.fst_AFR_EAS
   Fst: 0.3488
   P-mean: 0.05175
   P-std : 0.00301172707927
1_1_Fst_superpopulations/out_1_AFR_EUR.weir.fst_AFR_EUR
   Fst: 0.180839
   P-mean: 0.13917
   P-std : 0.00262604265007
1_1_Fst_superpopulations/out_1_AFR_SAS.weir.fst_AFR_SAS
   Fst: 0.17627400000000001
   P-mean: 0.1305
   P-std : 0.00247588368063
1_1_Fst_superpopulations/out_1_AMR_EAS.weir.fst_AMR_EAS
   Fst: 0.0986873
   P-mean: 0.13164
   P-std : 0.00336249907063
1_1_Fst_superpopulations/out_1_AMR_EUR.weir.fst_AMR_EUR
   Fst: 0.00928861
   P-mean: 0.40993
   P-std : 0.00597428656829
1_1_Fst_superpopulations/out_1_AMR_SAS.weir.fst_AMR_SAS
   Fst: 0.00789762
   P-mean: 0.51771
   P-std : 0.00548952639123
1_1_Fst_superpopulations/out_1_EAS_EUR.weir.fst_EAS_EUR
   Fst: 0.0467246
   P-mean: 0.34069
   P-std : 0.00340630298124
1_1_Fst_superpopulations/out_1_EUR_SAS.weir.fst_EUR_SAS
   Fst: -0.00100039
   P-mean: 0.80513
   P-std : 0.00379052766775

SNP: rs7527642 - 1:175670134
1_1_Fst_superpopulations/out_1_AFR_AMR.weir.fst_AFR_AMR
   Fst: -0.00082665
   P-mean: 0.96404
   P-std : 0.00231698079405
1_1_Fst_superpopulations/out_1_AFR_EAS.weir.fst_AFR_EAS
   Fst: 0.055179
   P-mean: 0.51868
   P-std : 0.00539570199325
1_1_Fst_superpopulations/out_1_AFR_EUR.weir.fst_AFR_EUR
   Fst: -0.0007956430000000001
   P-mean: 0.97379
   P-std : 0.00149295009963
1_1_Fst_superpopulations/out_1_AFR_SAS.weir.fst_AFR_SAS
   Fst: 0.0246721
   P-mean: 0.71541
   P-std : 0.00355174604948
1_1_Fst_superpopulations/out_1_AMR_EAS.weir.fst_AMR_EAS
   Fst: 0.0551451
   P-mean: 0.23576
   P-std : 0.00426314437945
1_1_Fst_superpopulations/out_1_AMR_EUR.weir.fst_AMR_EUR
   Fst: -0.00019914099999999998
   P-mean: 0.84016
   P-std : 0.00239006276068
1_1_Fst_superpopulations/out_1_AMR_SAS.weir.fst_AMR_SAS
   Fst: 0.027387599999999998
   P-mean: 0.23387
   P-std : 0.00354684366726
1_1_Fst_superpopulations/out_1_EAS_EUR.weir.fst_EAS_EUR
   Fst: 0.0466925
   P-mean: 0.34006
   P-std : 0.0037323451073
1_1_Fst_superpopulations/out_1_EUR_SAS.weir.fst_EUR_SAS
   Fst: 0.019663299999999998
   P-mean: 0.29485
   P-std : 0.00237876018127

SNP: rs143179968 - 1:246909388
1_1_Fst_superpopulations/out_1_AFR_AMR.weir.fst_AFR_AMR
   Fst: 0.004389199999999999
   P-mean: 0.86948
   P-std : 0.00248547782126
1_1_Fst_superpopulations/out_1_AFR_EAS.weir.fst_AFR_EAS
   Fst: 0.00286491
   P-mean: 0.88462
   P-std : 0.00310638053046
1_1_Fst_superpopulations/out_1_AFR_EUR.weir.fst_AFR_EUR
   Fst: 0.0716865
   P-mean: 0.39164
   P-std : 0.0049303549568
1_1_Fst_superpopulations/out_1_AFR_SAS.weir.fst_AFR_SAS
   Fst: 0.0526906
   P-mean: 0.48487
   P-std : 0.0055353500341
1_1_Fst_superpopulations/out_1_AMR_EAS.weir.fst_AMR_EAS
   Fst: -0.00104316
   P-mean: 0.96179
   P-std : 0.00143349223925
1_1_Fst_superpopulations/out_1_AMR_EUR.weir.fst_AMR_EUR
   Fst: 0.0452404
   P-mean: 0.10556
   P-std : 0.00267626605553
1_1_Fst_superpopulations/out_1_AMR_SAS.weir.fst_AMR_SAS
   Fst: 0.0278075
   P-mean: 0.2305
   P-std : 0.00558748601788
1_1_Fst_superpopulations/out_1_EAS_EUR.weir.fst_EAS_EUR
   Fst: 0.048114
   P-mean: 0.32849
   P-std : 0.00768823126603
1_1_Fst_superpopulations/out_1_EUR_SAS.weir.fst_EUR_SAS
   Fst: 0.00100516
   P-mean: 0.59514
   P-std : 0.00302892720282

SNP: rs2505338 - 10:32669237
1_1_Fst_superpopulations/out_10_AFR_AMR.weir.fst_AFR_AMR
   Fst: 0.162917
   P-mean: 0.1185
   P-std : 0.00241329650064
1_1_Fst_superpopulations/out_10_AFR_EAS.weir.fst_AFR_EAS
   Fst: 0.394252
   P-mean: 0.03551
   P-std : 0.00127393092434
1_1_Fst_superpopulations/out_10_AFR_EUR.weir.fst_AFR_EUR
   Fst: 0.305372
   P-mean: 0.04406
   P-std : 0.00258580741742
1_1_Fst_superpopulations/out_10_AFR_SAS.weir.fst_AFR_SAS
   Fst: 0.21007399999999998
   P-mean: 0.0889
   P-std : 0.00237739353074
1_1_Fst_superpopulations/out_10_AMR_EAS.weir.fst_AMR_EAS
   Fst: 0.0913242
   P-mean: 0.15073
   P-std : 0.00269927768116
1_1_Fst_superpopulations/out_10_AMR_EUR.weir.fst_AMR_EUR
   Fst: 0.0373705
   P-mean: 0.12386
   P-std : 0.00261465102834
1_1_Fst_superpopulations/out_10_AMR_SAS.weir.fst_AMR_SAS
   Fst: 0.00406921
   P-mean: 0.6572
   P-std : 0.00630666314306
1_1_Fst_superpopulations/out_10_EAS_EUR.weir.fst_EAS_EUR
   Fst: 0.0117059
   P-mean: 0.55608
   P-std : 0.00292807103739
1_1_Fst_superpopulations/out_10_EUR_SAS.weir.fst_EUR_SAS
   Fst: 0.0145696
   P-mean: 0.36568
   P-std : 0.00429110708326

SNP: rs641527 - 11:79689054
1_1_Fst_superpopulations/out_11_AFR_AMR.weir.fst_AFR_AMR
   Fst: 0.143493
   P-mean: 0.15296
   P-std : 0.00331034741379
1_1_Fst_superpopulations/out_11_AFR_EAS.weir.fst_AFR_EAS
   Fst: 0.48308100000000004
   P-mean: 0.0163
   P-std : 0.0010733126292
1_1_Fst_superpopulations/out_11_AFR_EUR.weir.fst_AFR_EUR
   Fst: 0.0477998
   P-mean: 0.53438
   P-std : 0.00254746933249
1_1_Fst_superpopulations/out_11_AFR_SAS.weir.fst_AFR_SAS
   Fst: 0.106675
   P-mean: 0.25237
   P-std : 0.00381
1_1_Fst_superpopulations/out_11_AMR_EAS.weir.fst_AMR_EAS
   Fst: 0.19864500000000002
   P-mean: 0.03447
   P-std : 0.00204257190816
1_1_Fst_superpopulations/out_11_AMR_EUR.weir.fst_AMR_EUR
   Fst: 0.0279849
   P-mean: 0.16663
   P-std : 0.00421783119624
1_1_Fst_superpopulations/out_11_AMR_SAS.weir.fst_AMR_SAS
   Fst: 0.00200996
   P-mean: 0.75604
   P-std : 0.00327847525536
1_1_Fst_superpopulations/out_11_EAS_EUR.weir.fst_EAS_EUR
   Fst: 0.31690300000000005
   P-mean: 0.01913
   P-std : 0.00130617762957
1_1_Fst_superpopulations/out_11_EUR_SAS.weir.fst_EUR_SAS
   Fst: 0.0122019
   P-mean: 0.36596
   P-std : 0.00264544892221

SNP: rs2248020 - 11:93259965
1_1_Fst_superpopulations/out_11_AFR_AMR.weir.fst_AFR_AMR
   Fst: 0.124752
   P-mean: 0.18292
   P-std : 0.00548849706204
1_1_Fst_superpopulations/out_11_AFR_EAS.weir.fst_AFR_EAS
   Fst: 0.0464325
   P-mean: 0.56919
   P-std : 0.003841991671
1_1_Fst_superpopulations/out_11_AFR_EUR.weir.fst_AFR_EUR
   Fst: 0.00285816
   P-mean: 0.89062
   P-std : 0.0026141155292
1_1_Fst_superpopulations/out_11_AFR_SAS.weir.fst_AFR_SAS
   Fst: -0.000879853
   P-mean: 0.99029
   P-std : 0.000681835757349
1_1_Fst_superpopulations/out_11_AMR_EAS.weir.fst_AMR_EAS
   Fst: 0.019043599999999997
   P-mean: 0.45304
   P-std : 0.00264053024978
1_1_Fst_superpopulations/out_11_AMR_EUR.weir.fst_AMR_EUR
   Fst: 0.163805
   P-mean: 0.00642
   P-std : 0.00049355850717
1_1_Fst_superpopulations/out_11_AMR_SAS.weir.fst_AMR_SAS
   Fst: 0.122189
   P-mean: 0.02729
   P-std : 0.000955458005357
1_1_Fst_superpopulations/out_11_EAS_EUR.weir.fst_EAS_EUR
   Fst: 0.0736561
   P-mean: 0.23666
   P-std : 0.00416538113502
1_1_Fst_superpopulations/out_11_EUR_SAS.weir.fst_EUR_SAS
   Fst: 0.00280435
   P-mean: 0.5287
   P-std : 0.00627104457009

SNP: rs7302174 - 12:105761662
1_1_Fst_superpopulations/out_12_AFR_AMR.weir.fst_AFR_AMR
   Fst: 0.00042715
   P-mean: 0.92698
   P-std : 0.00247095123384
1_1_Fst_superpopulations/out_12_AFR_EAS.weir.fst_AFR_EAS
   Fst: 0.12376400000000001
   P-mean: 0.25961
   P-std : 0.00608990147704
1_1_Fst_superpopulations/out_12_AFR_EUR.weir.fst_AFR_EUR
   Fst: 0.0167657
   P-mean: 0.77593
   P-std : 0.00305746627128
1_1_Fst_superpopulations/out_12_AFR_SAS.weir.fst_AFR_SAS
   Fst: -0.000446655
   P-mean: 0.96417
   P-std : 0.00233240219516
1_1_Fst_superpopulations/out_12_AMR_EAS.weir.fst_AMR_EAS
   Fst: 0.141478
   P-mean: 0.08343
   P-std : 0.00364830097443
1_1_Fst_superpopulations/out_12_AMR_EUR.weir.fst_AMR_EUR
   Fst: 0.0264959
   P-mean: 0.18165
   P-std : 0.00373262642117
1_1_Fst_superpopulations/out_12_AMR_SAS.weir.fst_AMR_SAS
   Fst: -0.00092247
   P-mean: 0.92714
   P-std : 0.00245650157745
1_1_Fst_superpopulations/out_12_EAS_EUR.weir.fst_EAS_EUR
   Fst: 0.209538
   P-mean: 0.07227
   P-std : 0.00191575050568
1_1_Fst_superpopulations/out_12_EUR_SAS.weir.fst_EUR_SAS
   Fst: 0.0221898
   P-mean: 0.27525
   P-std : 0.00371194019348

SNP: rs4883972 - 13:75058481
1_1_Fst_superpopulations/out_13_AFR_AMR.weir.fst_AFR_AMR
   Fst: 0.224169
   P-mean: 0.06889
   P-std : 0.00165314851117
1_1_Fst_superpopulations/out_13_AFR_EAS.weir.fst_AFR_EAS
   Fst: 0.341884
   P-mean: 0.05156
   P-std : 0.0022141364005
1_1_Fst_superpopulations/out_13_AFR_EUR.weir.fst_AFR_EUR
   Fst: 0.219565
   P-mean: 0.08783
   P-std : 0.00233454492353
1_1_Fst_superpopulations/out_13_AFR_SAS.weir.fst_AFR_SAS
   Fst: 0.21015100000000003
   P-mean: 0.08837
   P-std : 0.002712581796
1_1_Fst_superpopulations/out_13_AMR_EAS.weir.fst_AMR_EAS
   Fst: 0.025506
   P-mean: 0.40839
   P-std : 0.00510694624996
1_1_Fst_superpopulations/out_13_AMR_EUR.weir.fst_AMR_EUR
   Fst: -0.00115393
   P-mean: 0.94658
   P-std : 0.00215582930679
1_1_Fst_superpopulations/out_13_AMR_SAS.weir.fst_AMR_SAS
   Fst: -0.00113768
   P-mean: 0.95231
   P-std : 0.00167478356811
1_1_Fst_superpopulations/out_13_EAS_EUR.weir.fst_EAS_EUR
   Fst: 0.0235379
   P-mean: 0.45946
   P-std : 0.00291039516217
1_1_Fst_superpopulations/out_13_EUR_SAS.weir.fst_EUR_SAS
   Fst: -0.000818093
   P-mean: 0.79215
   P-std : 0.00267179714799

SNP: rs7318523 - 13:108787335
1_1_Fst_superpopulations/out_13_AFR_AMR.weir.fst_AFR_AMR
   Fst: 0.09982569999999999
   P-mean: 0.23399
   P-std : 0.00376389425994
1_1_Fst_superpopulations/out_13_AFR_EAS.weir.fst_AFR_EAS
   Fst: 0.00971502
   P-mean: 0.82211
   P-std : 0.0046813352796
1_1_Fst_superpopulations/out_13_AFR_EUR.weir.fst_AFR_EUR
   Fst: 0.157922
   P-mean: 0.15706
   P-std : 0.00224819927942
1_1_Fst_superpopulations/out_13_AFR_SAS.weir.fst_AFR_SAS
   Fst: 0.10802
   P-mean: 0.24352
   P-std : 0.0033041791719
1_1_Fst_superpopulations/out_13_AMR_EAS.weir.fst_AMR_EAS
   Fst: 0.055052699999999996
   P-mean: 0.24637
   P-std : 0.00377546023685
1_1_Fst_superpopulations/out_13_AMR_EUR.weir.fst_AMR_EUR
   Fst: 0.009479399999999999
   P-mean: 0.37366
   P-std : 0.00445807133187
1_1_Fst_superpopulations/out_13_AMR_SAS.weir.fst_AMR_SAS
   Fst: -0.00116502
   P-mean: 0.95787
   P-std : 0.00140716026095
1_1_Fst_superpopulations/out_13_EAS_EUR.weir.fst_EAS_EUR
   Fst: 0.10714800000000001
   P-mean: 0.16755
   P-std : 0.00314205346867
1_1_Fst_superpopulations/out_13_EUR_SAS.weir.fst_EUR_SAS
   Fst: 0.00843228
   P-mean: 0.41991
   P-std : 0.00444667291354

SNP: rs1760889 - 14:20884300
1_1_Fst_superpopulations/out_14_AFR_AMR.weir.fst_AFR_AMR
   Fst: 0.038551999999999996
   P-mean: 0.53069
   P-std : 0.00500148977806
1_1_Fst_superpopulations/out_14_AFR_EAS.weir.fst_AFR_EAS
   Fst: 0.0498574
   P-mean: 0.54823
   P-std : 0.00346353865288
1_1_Fst_superpopulations/out_14_AFR_EUR.weir.fst_AFR_EUR
   Fst: 0.00490194
   P-mean: 0.86431
   P-std : 0.00363605555513
1_1_Fst_superpopulations/out_14_AFR_SAS.weir.fst_AFR_SAS
   Fst: 0.044373
   P-mean: 0.53628
   P-std : 0.00420637611252
1_1_Fst_superpopulations/out_14_AMR_EAS.weir.fst_AMR_EAS
   Fst: -0.000654458
   P-mean: 0.9442
   P-std : 0.00163217646105
1_1_Fst_superpopulations/out_14_AMR_EUR.weir.fst_AMR_EUR
   Fst: 0.0166031
   P-mean: 0.27134
   P-std : 0.00379135859554
1_1_Fst_superpopulations/out_14_AMR_SAS.weir.fst_AMR_SAS
   Fst: -0.00116108
   P-mean: 0.95842
   P-std : 0.00100876161703
1_1_Fst_superpopulations/out_14_EAS_EUR.weir.fst_EAS_EUR
   Fst: 0.0244933
   P-mean: 0.46582
   P-std : 0.00451060971488
1_1_Fst_superpopulations/out_14_EUR_SAS.weir.fst_EUR_SAS
   Fst: 0.020289500000000002
   P-mean: 0.28925
   P-std : 0.00345173869231

SNP: rs2293702 - 14:22001947
1_1_Fst_superpopulations/out_14_AFR_AMR.weir.fst_AFR_AMR
   Fst: -0.000562725
   P-mean: 0.95402
   P-std : 0.00233358093924
1_1_Fst_superpopulations/out_14_AFR_EAS.weir.fst_AFR_EAS
   Fst: 0.00366254
   P-mean: 0.86205
   P-std : 0.00201506823706
1_1_Fst_superpopulations/out_14_AFR_EUR.weir.fst_AFR_EUR
   Fst: 0.017784599999999998
   P-mean: 0.77238
   P-std : 0.00477824235467
1_1_Fst_superpopulations/out_14_AFR_SAS.weir.fst_AFR_SAS
   Fst: 0.00183941
   P-mean: 0.89756
   P-std : 0.00294693060658
1_1_Fst_superpopulations/out_14_AMR_EAS.weir.fst_AMR_EAS
   Fst: 0.0069717
   P-mean: 0.68665
   P-std : 0.00432463871323
1_1_Fst_superpopulations/out_14_AMR_EUR.weir.fst_AMR_EUR
   Fst: 0.0239638
   P-mean: 0.2029
   P-std : 0.00236050841981
1_1_Fst_superpopulations/out_14_AMR_SAS.weir.fst_AMR_SAS
   Fst: 0.0044802
   P-mean: 0.62935
   P-std : 0.00528209238844
1_1_Fst_superpopulations/out_14_EAS_EUR.weir.fst_EAS_EUR
   Fst: 0.00382262
   P-mean: 0.62964
   P-std : 0.00538965676087
1_1_Fst_superpopulations/out_14_EUR_SAS.weir.fst_EUR_SAS
   Fst: 0.00610765
   P-mean: 0.46141
   P-std : 0.00452823365122

SNP: rs10148020 - 14:23956172
1_1_Fst_superpopulations/out_14_AFR_AMR.weir.fst_AFR_AMR
   Fst: 0.0699053
   P-mean: 0.33856
   P-std : 0.00528662463203
1_1_Fst_superpopulations/out_14_AFR_EAS.weir.fst_AFR_EAS
   Fst: 0.0102988
   P-mean: 0.81013
   P-std : 0.00284255167059
1_1_Fst_superpopulations/out_14_AFR_EUR.weir.fst_AFR_EUR
   Fst: -3.62195e-06
   P-mean: 0.94081
   P-std : 0.00306511011221
1_1_Fst_superpopulations/out_14_AFR_SAS.weir.fst_AFR_SAS
   Fst: 0.0115061
   P-mean: 0.78609
   P-std : 0.00335214856473
1_1_Fst_superpopulations/out_14_AMR_EAS.weir.fst_AMR_EAS
   Fst: 0.0233064
   P-mean: 0.43531
   P-std : 0.0064570039492
1_1_Fst_superpopulations/out_14_AMR_EUR.weir.fst_AMR_EUR
   Fst: 0.0816957
   P-mean: 0.04982
   P-std : 0.00170164626171
1_1_Fst_superpopulations/out_14_AMR_SAS.weir.fst_AMR_SAS
   Fst: 0.0215448
   P-mean: 0.28255
   P-std : 0.00353503889653
1_1_Fst_superpopulations/out_14_EAS_EUR.weir.fst_EAS_EUR
   Fst: 0.016963
   P-mean: 0.51302
   P-std : 0.00360937667749
1_1_Fst_superpopulations/out_14_EUR_SAS.weir.fst_EUR_SAS
   Fst: 0.018452
   P-mean: 0.30731
   P-std : 0.00310465779113

SNP: rs1278911 - 14:32404727
1_1_Fst_superpopulations/out_14_AFR_AMR.weir.fst_AFR_AMR
   Fst: 0.0537515
   P-mean: 0.42271
   P-std : 0.00503476911089
1_1_Fst_superpopulations/out_14_AFR_EAS.weir.fst_AFR_EAS
   Fst: 0.307449
   P-mean: 0.06223
   P-std : 0.00202487036622
1_1_Fst_superpopulations/out_14_AFR_EUR.weir.fst_AFR_EUR
   Fst: 0.00292226
   P-mean: 0.88582
   P-std : 0.0023493828977
1_1_Fst_superpopulations/out_14_AFR_SAS.weir.fst_AFR_SAS
   Fst: 0.00873014
   P-mean: 0.81146
   P-std : 0.00496511832689
1_1_Fst_superpopulations/out_14_AMR_EAS.weir.fst_AMR_EAS
   Fst: 0.140835
   P-mean: 0.08531
   P-std : 0.00206758313013
1_1_Fst_superpopulations/out_14_AMR_EUR.weir.fst_AMR_EUR
   Fst: 0.0288605
   P-mean: 0.17365
   P-std : 0.00346821279624
1_1_Fst_superpopulations/out_14_AMR_SAS.weir.fst_AMR_SAS
   Fst: 0.0176982
   P-mean: 0.32741
   P-std : 0.00352149116143
1_1_Fst_superpopulations/out_14_EAS_EUR.weir.fst_EAS_EUR
   Fst: 0.262191
   P-mean: 0.04303
   P-std : 0.00171058469536
1_1_Fst_superpopulations/out_14_EUR_SAS.weir.fst_EUR_SAS
   Fst: 0.00027929
   P-mean: 0.644
   P-std : 0.00276441675585

SNP: rs2273623 - 14:60765245
1_1_Fst_superpopulations/out_14_AFR_AMR.weir.fst_AFR_AMR
   Fst: 0.284903
   P-mean: 0.04493
   P-std : 0.00164198051146
1_1_Fst_superpopulations/out_14_AFR_EAS.weir.fst_AFR_EAS
   Fst: 0.427317
   P-mean: 0.02544
   P-std : 0.00237116005364
1_1_Fst_superpopulations/out_14_AFR_EUR.weir.fst_AFR_EUR
   Fst: 0.23088899999999998
   P-mean: 0.09317
   P-std : 0.00250001999992
1_1_Fst_superpopulations/out_14_AFR_SAS.weir.fst_AFR_SAS
   Fst: 0.109992
   P-mean: 0.24155
   P-std : 0.00451336902989
1_1_Fst_superpopulations/out_14_AMR_EAS.weir.fst_AMR_EAS
   Fst: 0.03561040000000001
   P-mean: 0.3439
   P-std : 0.00674418267843
1_1_Fst_superpopulations/out_14_AMR_EUR.weir.fst_AMR_EUR
   Fst: 0.00430017
   P-mean: 0.57089
   P-std : 0.0043654209419
1_1_Fst_superpopulations/out_14_AMR_SAS.weir.fst_AMR_SAS
   Fst: 0.0593516
   P-mean: 0.10813
   P-std : 0.0044940071206
1_1_Fst_superpopulations/out_14_EAS_EUR.weir.fst_EAS_EUR
   Fst: 0.0659379
   P-mean: 0.27502
   P-std : 0.00369507780703
1_1_Fst_superpopulations/out_14_EUR_SAS.weir.fst_EUR_SAS
   Fst: 0.0303733
   P-mean: 0.22297
   P-std : 0.00452505248588

SNP: rs347941 - 15:33177426
1_1_Fst_superpopulations/out_15_AFR_AMR.weir.fst_AFR_AMR
   Fst: 0.127966
   P-mean: 0.19586
   P-std : 0.00316234090509
1_1_Fst_superpopulations/out_15_AFR_EAS.weir.fst_AFR_EAS
   Fst: 0.013951
   P-mean: 0.80111
   P-std : 0.00415173457726
1_1_Fst_superpopulations/out_15_AFR_EUR.weir.fst_AFR_EUR
   Fst: 0.09422810000000001
   P-mean: 0.31955
   P-std : 0.00508335519121
1_1_Fst_superpopulations/out_15_AFR_SAS.weir.fst_AFR_SAS
   Fst: 0.0448415
   P-mean: 0.54817
   P-std : 0.00445579398087
1_1_Fst_superpopulations/out_15_AMR_EAS.weir.fst_AMR_EAS

<h4 style="text-align:center; color:blue;"> - Output Unused Permutation Analysis - </h4>

In [6]:
### OUTPUT RAW TABLE ###
snpsIn.to_csv('/Users/brooks/Dropbox/Vanderbilt/1000_Genomes/Data/1_1_Fst_superpopulations_results.txt', sep='\t')

### OUTPUT BY SNP WITH CORRECTION ###
for curSnp in snpsOut['snp'].unique():
    #snpsOut
    xCur = snpsOut[snpsOut['snp'] == curSnp] 
    xCur['pfdr'] = multipletests(xCur['pval'], alpha=0.05, method='fdr_bh')[1]
    xCur[xCur['pfdr'] < 0.1]

/Users/brooks/miniconda2/envs/qiime2/lib/python3.5/site-packages/ipykernel/__main__.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

         snp chr       pos pop1 pop2       fst     pval      pstd      pfdr
1  rs7524581   1  66166499  AFR  EAS  0.375077  0.04221  0.001659  0.094973
4  rs7524581   1  66166499  AMR  EAS  0.244582  0.02071  0.001296  0.062130
6  rs7524581   1  66166499  AMR  SAS  0.126352  0.02040  0.001224  0.062130
7  rs7524581   1  66166499  EAS  EUR  0.371016  0.01507  0.001096  0.062130

Empty DataFrame
Columns: [snp, chr, pos, pop1, pop2, fst, pval, pstd, pfdr]
Index: []

Empty DataFrame
Columns: [snp, chr, pos, pop1, pop2, fst, pval, pstd, pfdr]
Index: []

Empty DataFrame
Columns: [snp, chr, pos, pop1, pop2, fst, pval, pstd, pfdr]
Index: []

Empty DataFrame
Columns: [snp, chr, pos, pop1, pop2, fst, pval, pstd, pfdr]
Index: []

Empty DataFrame
Columns: [snp, chr, pos, pop1, pop2, fst, pval, pstd, pfdr]
Index: []

Empty DataFrame
Columns: [snp, chr, pos, pop1, pop2, fst, pval, pstd, pfdr]
Index: []

         snp chr       pos pop1 pop2       fst     pval      pstd      pfdr
64  rs641527  11  79689054  AFR  EAS  0.483081  0.01630  0.001073  0.086085
70  rs641527  11  79689054  EAS  EUR  0.316903  0.01913  0.001306  0.086085

          snp chr       pos pop1 pop2       fst     pval      pstd     pfdr
77  rs2248020  11  93259965  AMR  EUR  0.163805  0.00642  0.000494  0.05778

Empty DataFrame
Columns: [snp, chr, pos, pop1, pop2, fst, pval, pstd, pfdr]
Index: []

Empty DataFrame
Columns: [snp, chr, pos, pop1, pop2, fst, pval, pstd, pfdr]
Index: []

Empty DataFrame
Columns: [snp, chr, pos, pop1, pop2, fst, pval, pstd, pfdr]
Index: []

Empty DataFrame
Columns: [snp, chr, pos, pop1, pop2, fst, pval, pstd, pfdr]
Index: []

Empty DataFrame
Columns: [snp, chr, pos, pop1, pop2, fst, pval, pstd, pfdr]
Index: []

Empty DataFrame
Columns: [snp, chr, pos, pop1, pop2, fst, pval, pstd, pfdr]
Index: []

Empty DataFrame
Columns: [snp, chr, pos, pop1, pop2, fst, pval, pstd, pfdr]
Index: []

Empty DataFrame
Columns: [snp, chr, pos, pop1, pop2, fst, pval, pstd, pfdr]
Index: []

Empty DataFrame
Columns: [snp, chr, pos, pop1, pop2, fst, pval, pstd, pfdr]
Index: []

Empty DataFrame
Columns: [snp, chr, pos, pop1, pop2, fst, pval, pstd, pfdr]
Index: []

Empty DataFrame
Columns: [snp, chr, pos, pop1, pop2, fst, pval, pstd, pfdr]
Index: []

           snp chr       pos pop1 pop2       fst     pval      pstd     pfdr
184  rs9938742  16  62460017  AMR  EAS  0.302367  0.00874  0.000784  0.07866

Empty DataFrame
Columns: [snp, chr, pos, pop1, pop2, fst, pval, pstd, pfdr]
Index: []

Empty DataFrame
Columns: [snp, chr, pos, pop1, pop2, fst, pval, pstd, pfdr]
Index: []

Empty DataFrame
Columns: [snp, chr, pos, pop1, pop2, fst, pval, pstd, pfdr]
Index: []

Empty DataFrame
Columns: [snp, chr, pos, pop1, pop2, fst, pval, pstd, pfdr]
Index: []

Empty DataFrame
Columns: [snp, chr, pos, pop1, pop2, fst, pval, pstd, pfdr]
Index: []

Empty DataFrame
Columns: [snp, chr, pos, pop1, pop2, fst, pval, pstd, pfdr]
Index: []

Empty DataFrame
Columns: [snp, chr, pos, pop1, pop2, fst, pval, pstd, pfdr]
Index: []

           snp chr        pos pop1 pop2       fst     pval      pstd     pfdr
252  rs7587067   2  197259243  AFR  AMR  0.441126  0.00927  0.000626  0.03996
253  rs7587067   2  197259243  AFR  EAS  0.544450  0.01332  0.000572  0.03996
254  rs7587067   2  197259243  AFR  EUR  0.449014  0.01302  0.000858  0.03996

Empty DataFrame
Columns: [snp, chr, pos, pop1, pop2, fst, pval, pstd, pfdr]
Index: []

Empty DataFrame
Columns: [snp, chr, pos, pop1, pop2, fst, pval, pstd, pfdr]
Index: []

Empty DataFrame
Columns: [snp, chr, pos, pop1, pop2, fst, pval, pstd, pfdr]
Index: []

Empty DataFrame
Columns: [snp, chr, pos, pop1, pop2, fst, pval, pstd, pfdr]
Index: []

Empty DataFrame
Columns: [snp, chr, pos, pop1, pop2, fst, pval, pstd, pfdr]
Index: []

Empty DataFrame
Columns: [snp, chr, pos, pop1, pop2, fst, pval, pstd, pfdr]
Index: []

Empty DataFrame
Columns: [snp, chr, pos, pop1, pop2, fst, pval, pstd, pfdr]
Index: []

Empty DataFrame
Columns: [snp, chr, pos, pop1, pop2, fst, pval, pstd, pfdr]
Index: []

Empty DataFrame
Columns: [snp, chr, pos, pop1, pop2, fst, pval, pstd, pfdr]
Index: []

           snp chr       pos pop1 pop2       fst     pval      pstd      pfdr
348  rs2269706   6  30652872  AMR  SAS  0.136853  0.01731  0.000999  0.077895
350  rs2269706   6  30652872  EUR  SAS  0.149668  0.00969  0.000986  0.077895

Empty DataFrame
Columns: [snp, chr, pos, pop1, pop2, fst, pval, pstd, pfdr]
Index: []

Empty DataFrame
Columns: [snp, chr, pos, pop1, pop2, fst, pval, pstd, pfdr]
Index: []

Empty DataFrame
Columns: [snp, chr, pos, pop1, pop2, fst, pval, pstd, pfdr]
Index: []

Empty DataFrame
Columns: [snp, chr, pos, pop1, pop2, fst, pval, pstd, pfdr]
Index: []

Empty DataFrame
Columns: [snp, chr, pos, pop1, pop2, fst, pval, pstd, pfdr]
Index: []

Empty DataFrame
Columns: [snp, chr, pos, pop1, pop2, fst, pval, pstd, pfdr]
Index: []

Empty DataFrame
Columns: [snp, chr, pos, pop1, pop2, fst, pval, pstd, pfdr]
Index: []

           snp chr       pos pop1 pop2       fst     pval      pstd     pfdr
420  rs6999713   8  30499522  AMR  SAS  0.171279  0.00779  0.001305  0.07011

Empty DataFrame
Columns: [snp, chr, pos, pop1, pop2, fst, pval, pstd, pfdr]
Index: []

           snp chr        pos pop1 pop2      fst     pval      pstd     pfdr
437  rs2170226   9  116464160  AMR  EUR  0.18524  0.00386  0.000546  0.03474

In [7]:
### FOR POPULATION COMBINATIONS ###
for pops in itertools.combinations(['AFR', 'AMR', 'EAS', 'EUR', 'SAS'], 2):
    
    ### SKIP EAST AND SOUTH ASIAN COMBINATION ###
    if (pops[0] == 'EAS') and (pops[1] == 'SAS'): continue
    
    ### MAKE COLUMN TO STORE NUMBER OF SNPs WITH HIGHER Fst ###
    snpsIn[pops[0]+'_'+pops[1]+'_higher'] = 0
    snpsIn[pops[0]+'_'+pops[1]+'_chromosome_higher'] = 0
    snpsIn[pops[0]+'_'+pops[1]+'_chromosome_total'] = 0
    snpsIn[pops[0]+'_'+pops[1]+'_chromosome_percent'] = 0.0
    
    ### STORE TOTAL NUMBER OF SNPs ###
    totSNPs = 0
    
    ### FOR EACH CHROMOSOME ###
    for curChrom in np.arange(1,23):
        print(pops[0]+'_'+pops[1]+'_'+str(curChrom))
         
        ### READ SNP FILE ###
        curFile = '1_1_Fst_superpopulations/out_'+str(curChrom)+'_'+pops[0]+'_'+pops[1]+'.weir.fst'
        fstIn = pd.read_csv(curFile, sep='\t')
        
        ### ADD TO TOTAL NUMBER OF SNPS ###
        totSNPs += len(fstIn)
        
        ### FOR EACH SNP ###
        for curSnp in snpsIn.index:
            
            ### GET FST ###
            snpFst = snpsIn.loc[curSnp, pops[0]+'_'+pops[1]+'_fst']
            
            ### ADD NUMBER OF SNPs WITH HIGHER FST ###
            snpsIn.loc[curSnp, pops[0]+'_'+pops[1]+'_higher'] += len(fstIn[fstIn['WEIR_AND_COCKERHAM_FST']>snpFst])
            
            ### CHECK IF ON CHROMOSOME ###
            if snpsIn.loc[curSnp, 'chr'] == curChrom:
                
                ### ADD CHROMOSOME TOTAL AND HIGHER ###
                snpsIn.loc[curSnp,pops[0]+'_'+pops[1]+'_chromosome_higher'] = len(fstIn[fstIn['WEIR_AND_COCKERHAM_FST']>snpFst])
                snpsIn.loc[curSnp,pops[0]+'_'+pops[1]+'_chromosome_total'] = len(fstIn)
                snpsIn.loc[curSnp,pops[0]+'_'+pops[1]+'_chromosome_percent'] = len(fstIn[fstIn['WEIR_AND_COCKERHAM_FST']>snpFst]) / len(fstIn) 
    ### STORE TOTAL ###
    snpsIn[pops[0]+'_'+pops[1]+'_total'] = totSNPs
    snpsIn[pops[0]+'_'+pops[1]+'_percent'] = snpsIn[pops[0]+'_'+pops[1]+'_higher'] / snpsIn[pops[0]+'_'+pops[1]+'_total']
    
    ### DROP P-values from previous analysis ###
    snpsIn.drop(pops[0]+'_'+pops[1]+'_p',axis=1, inplace=True)

AFR_AMR_1
AFR_AMR_2
AFR_AMR_3
AFR_AMR_4
AFR_AMR_5
AFR_AMR_6
AFR_AMR_7
AFR_AMR_8
AFR_AMR_9
AFR_AMR_10
AFR_AMR_11
AFR_AMR_12
AFR_AMR_13
AFR_AMR_14
AFR_AMR_15
AFR_AMR_16
AFR_AMR_17
AFR_AMR_18
AFR_AMR_19
AFR_AMR_20
AFR_AMR_21
AFR_AMR_22
AFR_EAS_1
AFR_EAS_2
AFR_EAS_3
AFR_EAS_4
AFR_EAS_5
AFR_EAS_6
AFR_EAS_7
AFR_EAS_8
AFR_EAS_9
AFR_EAS_10
AFR_EAS_11
AFR_EAS_12
AFR_EAS_13
AFR_EAS_14
AFR_EAS_15
AFR_EAS_16
AFR_EAS_17
AFR_EAS_18
AFR_EAS_19
AFR_EAS_20
AFR_EAS_21
AFR_EAS_22
AFR_EUR_1
AFR_EUR_2
AFR_EUR_3
AFR_EUR_4
AFR_EUR_5
AFR_EUR_6
AFR_EUR_7
AFR_EUR_8
AFR_EUR_9
AFR_EUR_10
AFR_EUR_11
AFR_EUR_12
AFR_EUR_13
AFR_EUR_14
AFR_EUR_15
AFR_EUR_16
AFR_EUR_17
AFR_EUR_18
AFR_EUR_19
AFR_EUR_20
AFR_EUR_21
AFR_EUR_22
AFR_SAS_1
AFR_SAS_2
AFR_SAS_3
AFR_SAS_4
AFR_SAS_5
AFR_SAS_6
AFR_SAS_7
AFR_SAS_8
AFR_SAS_9
AFR_SAS_10
AFR_SAS_11
AFR_SAS_12
AFR_SAS_13
AFR_SAS_14
AFR_SAS_15
AFR_SAS_16
AFR_SAS_17
AFR_SAS_18
AFR_SAS_19
AFR_SAS_20
AFR_SAS_21
AFR_SAS_22
AMR_EAS_1
AMR_EAS_2
AMR_EAS_3
AMR_EAS_4
AMR_EAS_5
AMR_EAS_6
AMR_EAS_7
AMR_EAS_8
AMR_EAS_9
AMR_EAS_10
AMR_EAS_11
AMR_EAS_12
AMR_EAS_13
AMR_EAS_14
AMR_EAS_15
AMR_EAS_16
AMR_EAS_17
AMR_EAS_18
AMR_EAS_19
AMR_EAS_20
AMR_EAS_21
AMR_EAS_22
AMR_EUR_1
AMR_EUR_2
AMR_EUR_3
AMR_EUR_4
AMR_EUR_5
AMR_EUR_6
AMR_EUR_7
AMR_EUR_8
AMR_EUR_9
AMR_EUR_10
AMR_EUR_11
AMR_EUR_12
AMR_EUR_13
AMR_EUR_14
AMR_EUR_15
AMR_EUR_16
AMR_EUR_17
AMR_EUR_18
AMR_EUR_19
AMR_EUR_20
AMR_EUR_21
AMR_EUR_22
AMR_SAS_1
AMR_SAS_2
AMR_SAS_3
AMR_SAS_4
AMR_SAS_5
AMR_SAS_6
AMR_SAS_7
AMR_SAS_8
AMR_SAS_9
AMR_SAS_10
AMR_SAS_11
AMR_SAS_12
AMR_SAS_13
AMR_SAS_14
AMR_SAS_15
AMR_SAS_16
AMR_SAS_17
AMR_SAS_18
AMR_SAS_19
AMR_SAS_20
AMR_SAS_21
AMR_SAS_22
EAS_EUR_1
EAS_EUR_2
EAS_EUR_3
EAS_EUR_4
EAS_EUR_5
EAS_EUR_6
EAS_EUR_7
EAS_EUR_8
EAS_EUR_9
EAS_EUR_10
EAS_EUR_11
EAS_EUR_12
EAS_EUR_13
EAS_EUR_14
EAS_EUR_15
EAS_EUR_16
EAS_EUR_17
EAS_EUR_18
EAS_EUR_19
EAS_EUR_20
EAS_EUR_21
EAS_EUR_22
EUR_SAS_1
EUR_SAS_2
EUR_SAS_3
EUR_SAS_4
EUR_SAS_5
EUR_SAS_6
EUR_SAS_7
EUR_SAS_8
EUR_SAS_9
EUR_SAS_10
EUR_SAS_11
EUR_SAS_12
EUR_SAS_13
EUR_SAS_14
EUR_SAS_15
EUR_SAS_16
EUR_SAS_17
EUR_SAS_18
EUR_SAS_19
EUR_SAS_20
EUR_SAS_21
EUR_SAS_22

In [8]:
snpsIn = snpsIn.sort_index(axis=1)

In [10]:
snpsIn.to_csv('superpopulation_fst_final_results.txt', sep='\t')